.App {
  font-family: 'Karla', sans-serif;
  padding: 0 10px;
}

.title-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game--title {
  margin-bottom: 5px;
}

.game--subtitle {
  margin: 5px 0 15px;
  font-size: large;
  font-weight: 600;
}

.game--start-button {
  color: #fff;
  background: #4d5b9e;
  border: none;
  border-radius: 15px;
  padding: 8px 40px;
  cursor: pointer;
}

.game--start-button:hover {
  background-color: darkslateblue;
}

.loading-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answers-container {
  display: flex;
  justify-content: space-around;
}