.App {
  font-family: 'Karla', sans-serif;
}

.title-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-page-container > div {
  margin-bottom: 15px;
}

.game--title {
  font-weight: 700;
  font-size: large;
}

.game--description {
  font-weight: 400;
  font-size: medium;
}

.game--start-button {
  color: #fff;
  background: #4d5b9e;
  border: none;
  border-radius: 15px;
  padding: 8px 40px;
  cursor: pointer;
}

.game--start-button:hover {
  background-color: darkslateblue;
}
