.App {
  font-family: 'Karla', sans-serif;
  padding: 0 10px;
}

.title-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game--title {
  margin-bottom: 5px;
}

.game--subtitle {
  margin: 5px 0 15px;
  font-size: large;
  font-weight: 600;
}

.game--question,
.game--title,
.game--final-score {
  color: #293264;
}

.game--button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game--start-button,
.game--end-button {
  color: #fff;
  background: #4d5b9e;
  border: none;
  border-radius: 15px;
  padding: 8px 40px;
  cursor: pointer;
}

.game--start-button:hover,
.game--end-button:hover,
.answer:hover {
  opacity: 0.7;
}

.game--final-score {
  margin: 0;
}

.loading-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answers-container {
  display: flex;
  justify-content: start;
}

.answer {
  color: #4d5b9e;
  border-radius: 12px;
  padding: 4px 12px;
  box-sizing: border-box;
  margin-right: 20px;
  min-width: 100px;
  text-align: center;
  font-weight: 600;
}